.main-wrapper {
    padding: 8px 44px 0;
    margin-bottom: 60px;
}

.left-layout {
    padding: 0 64px 44px 0;
}

.page-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0;
    font-size: 1.4rem;
}

.page-container {
    display: flex;
    padding: 0 10px;
    align-items: center;
    gap: 4px;
}

.page {
    display: flex;
    padding: 6px 12px;
    border: 1px solid #fff;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 500;
    transition: all .2s;
    user-select: none;
    
    

    &:hover {
        border: 1px solid #d0d7de;
    }
}


.page.active {
    color: var(--white-color);
    background-color: var(--primary-color);
    border: 1px solid var(--primary-color);
}

.page.disabled {
    cursor: default;
    color: #d0d7de;
    border: 1px solid #fff;
}


