@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
        transform: scale(1);
    }
    to {
        opacity: 0;
        transform: scale(0.95);
    }
}

.wrapper {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
}

.overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #0006;
    animation-name: var();
    animation-duration: 0.3s;
    animation-timing-function: linear;
}

.overlay.closing {
    animation: fadeOut 0.3s linear forwards;
}

.content {
    position: relative;
    z-index: 1;
    width: min(540px, 100% - 32px);
    height: min(660px, 100% - 32px);
    background: #fff;
    border-radius: 16px;
    overflow: hidden;
    animation-name: fadeIn;
    animation-duration: 0.3s;
}

.content.closing {
    animation: fadeIn 0.3s linear forwards;
}

.close {
    position: absolute;
    top: 16px;
    right: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: #333;
    background: #16182308;
    font-size: 2.8rem;
    line-height: 0;
    cursor: pointer;
}

// Content.js
.container {
    max-height: 80vh;
    overflow-y: auto;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.header {
    margin-top: 50px;
}

.back-btn {
    position: absolute;
    top: 7px;
    left: 10px;
    display: flex;
    align-items: center;
    gap: 6px;
    padding: 20px;
    font-size: 1.6rem;
    opacity: .7;
    transition: opacity .2s;
    background-color: transparent;

    &:hover {
        cursor: pointer;
    }

    svg {
        width: 1.2rem;
        height: 1.6rem;
    }
}

//logo
.logo {
    border-radius: 8px;
    flex-shrink: 0;
    height: 40px;
    object-fit: contain;
    width: 40px;
}

.logo-heading {
    &:hover {
        text-decoration: none;
    }

    h4 {
        color: #000;
        font-size: 1.4rem;
        font-weight: 600;
        margin-left: 16px;
    }
}

.heading {
    font-size: 2.8rem;
    font-weight: 700;
    line-height: 1.4;
    margin: 12px 0;
}

.warn, .description {
    width: min(400px, 90%);
    margin: 0 auto;
    font-size: 1.4rem;
    line-height: 1.5;
}

.warn {
    color: #f33a58;
}

.description {
    opacity: .7;
}

.main {
    margin-top: 12px;
}

.main-content {
    display: flex;
    flex-direction: column;
    max-width: 360px;
    margin: 0 auto;
}

.wrapper-btn {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 44px;
    padding-left: 16px;
    margin-top: 12px;
    border: 2px solid #dce0e3;
    border-radius: 44px;
    background-color: #fff;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.2s;

    &:hover {
        background-color: #dce0e3;
    }
}

.icon {
    position: absolute;
    top: 50%;
    translate: 0 -50%;
    left: 16px;
}

.title {
    color: #000;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 40px;
}

.register-or-login {
    margin-top: 10px;
    font-size: 1.4rem;
    line-height: 1.8;
    padding: 24px 16px 0;

    span {

        font-weight: 600;
        color: var(--primary-color);
        text-decoration: underline;
        cursor: pointer;
    }
}

.forgot-password {
    display: inline-block;
    margin-top: 10px;
    color: var(--primary-color);
    font-size: 1.4rem;
    font-weight: 600;
    text-decoration: underline;
    cursor: pointer;
}

.policy {
    margin-left: auto;
    margin-right: auto;
    padding: 16px;
    width: min(400px, 100%);
    font-size: 1.1rem;
    color: #666;
    
    span {
        cursor: pointer;
        text-decoration: underline;
    }
}