.course-form {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    .heading {
        text-align: center;
        margin: 8px;
    }

    
    .form-group {
        margin-bottom: 15px;

        label {
            display: flex;
            margin-bottom: 5px;
            font-weight: bold;
            color: #333;
        }

        
        input,
        textarea {
            width: 100%;
            padding: 8px;
            border: 1px solid #ccc;
            border-radius: 4px;
            font-size: 16px;

            &:focus {
                border-color: #007bff;
                outline: none;
                box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
            }
        }

        textarea {
            min-height: 100px;
            resize: vertical;
        }
    }

    .hidden {
        display: none;
    }

    .image-preview {
        margin-top: 10px;
        max-width: 100%;
        max-height: 200px;
        border-radius: 4px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    }

    .checkbox-group {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        margin-right: 8px;
    }

    .checkbox-label input[type='checkbox'] {
        
        width: 20px;
        height: 20px;
        cursor: pointer;
        margin-right: 0.5rem;
        accent-color: #4caf50; 
    }

    .checkbox-text {
        margin-left: 4px;
    }

    .submit-button {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
        background-color: #007bff;
        color: #fff;
        font-size: 18px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        transition: background-color 0.3s ease;

        &:hover {
            background-color: #0056b3;
        }
    }
}
