.wrapper {
    font-size: 1.4rem;
    padding: 0 28px;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 20;
    border-bottom: 1px solid #e8ebed;
    background-color: #fff;
}

.inner {
    height: var(--header-height);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar {
    display: flex;
    align-items: center;
}

//Logo
.logo {
    border-radius: 8px;
    flex-shrink: 0;
    height: 38px;
    object-fit: contain;
    width: 38px;
}

.logo-heading {
    color: #000;
    font-size: 1.4rem;
    font-weight: 600;
    margin-left: 16px;
}

//Search
.search {
    display: flex;
    align-items: center;
    border-radius: 20px;
    height: 40px;
    transition: border-color 0.2s ease-in-out;
    width: 420px;

}

.search-btn {
    background-color: #f8f8f8;
    height: 100%;
    border: 1px solid #ccc;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    width: 54px;
    cursor: pointer;

    &:hover {
        border: 1px solid #c6c6c6;
        background-color: #f0f0f0;
    }

    
}

.search-icon {
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: 18px;
    border-radius: 50%;
    opacity: 0.7;
    transition: opacity 0.2s ease-in-out;
}

.search-input {
    caret-color: #444;
    flex: 1 1;
    height: 100%;
    outline: none;
    padding: 0 4px 0 16px;

    border: 1px solid #ccc;
    border-right: none;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;

    &:focus {
        border: 1px solid #1c62b9;
    }
}

//Action
.actions {
    display: flex;
    align-items: center;
}

.my-courses {
    background-color: transparent;
    color: #333;
    cursor: pointer;
    font-size: 1.4rem;
    font-weight: 600;
    margin-right: 16px;
    padding: 8px;
}

.notification-btn {
    padding: 8px;
    position: relative;

    &:hover {
        cursor: pointer;
    }
}

.notification-icon {
    color: #707070;
    font-size: 2rem;
}

.avatar {
    margin-left: 12px;

    &:hover {
        cursor: pointer;
    }
}

.avatar-img {
    width: 2.8rem;
    height: 2.8rem;
    border-radius: 1.4rem;
}
