.wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.container {
    margin-top: var(--header-height);
    display: flex;
}

.content {
    --width: 96px;
    width: 100%;
    max-width: calc(100% - var(--width));
    margin-left: var(--width);
    padding: 0 40px 0 20px;
}
